<!DOCTYPE html>
<html>
<head>
    <title>Display Decrypted Message</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/display.css">
</head>
<body>
    <div class="heading">
        <h1 class="text-center">Unlocking Encrypted Secrets</h1>
    </div>
    <div class="container-card">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card p-4 shadow rounded">
                    <div class="card-body">
                        <h3 class="card-title text-center">Message</h3>
                        <p>{{decrypted_message1}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
