<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class ="container">
        <div class ="row">
            <nav class ="navbar">
                <h1>Image Steganography</h1>
                <ul>
                    <li><a href="hello">ENCRYPT</li>
                    <li><a href="decrypt">DECRYPT</li>
                    </ul>
                </nav>
                <div class="content">
                    <h1>IMAGE STEGANOGRAPHY</h1>
                    <p>Unlocking Secrets in Plain Sight: Image Steganography at Its Finest</p>
                    <a href="">Get Started</a>
                </div>
            </div>
        </div>

    </body>
    </html>
